# Visual Studio
.vs/
**/bin/
**/obj/
*.exe
*.user
*.suo
*.userosscache
*.sln.docstates

# Build / debug
*.pdb
*.opendb
*.VC.db
*.log

# Packages / cache
*.nupkg
*.snupkg
packages/
.nuget/

# Rider / VS Code (optional)
.idea/
.vscode/
